<ModConfiguration>
<Id>Tricky.InfOreExtractor</Id>
<Name>Tricky's Infinite Ore Extractor</Name>
<Version>1</Version>
<IsLocalMod>false</IsLocalMod>
<IsServerOnlyMod>false</IsServerOnlyMod>
<Description>
This adds new ore extractors that does not deplete veins
Stock Infinite Ore Extractor -> Mines normal ore (T1, T2 and T3)
Advanced Infinite Ore Extractor -> Mines normal and hard ore (T1, T2, T3 and T4)

There is now UI with the support for Drill motors and cutter heads.

There will not be a mod for INF ore extractors where they are cheaper then they are in this mod. If you want them cheaper. Feel free to edit this file:
C:\Program Files (x86)\Steam\steamapps\workshop\content\254200\723274557\Xml\ManufacturerRecipes.xml

[h1]Disclaimer[/h1]
I am not responsible for anything. This is a mod, use at your own risk!

You are not allowed to release any copies of this mod, without my permission.

[h1]Updates[/h1]

Update 6/10/2018:
- Update for compatibility with FCE version P20 features and changes.

</Description>
<ChangeNode>
- Update for compatibility with FCE version P20 features and changes.
</ChangeNode>
</ModConfiguration>